* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

header {
  position: sticky;
  top: 0;
}

.logo {
  display: flex;
  background-color: black;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 75px;
}

.logo img {
  padding-right: 75px;
}

.home_navigation_bar {
  display: flex;
  background-color: gainsboro;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main_bar {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: red;
  justify-content: center;
  box-shadow: 0 2px 3px -1px black;
}

.navigation_menu {
  display: flex;
  list-style: none;
  padding: 12px;
  margin-left: 15px;
  text-decoration: none;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
  font-size: 25px;
  font-family: "Karla", sans-serif;
}

.navigation_menu li {
  padding-right: 80px;
}

.nav_links {
  color: black;
  text-decoration: none;
}

.terry {
  display: flex;
  justify-content: center;
}

.page_main {
  display: flex;
}

.articles {
  display: flex;
  padding: 30px;
  flex-direction: column;
  width: 40%;
  margin-left: 65px;
}

h1 {
  text-decoration: underline red;
  text-decoration-thickness: 1px;
}

.news_posts {
  padding-bottom: 75px;
  background-color: red;
  margin-top: 20px;
}

.article_2 {
  display: flex;
  padding: 30px;
}

.shop_nav_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.shop_links {
  display: flex;
  list-style: none;
  padding: 15px;
  font-size: 25px;
  width: 100%;
  flex: 100%;
}

.shop_links li {
  padding-right: 50px;
}

.shop_bar {
  width: 100%;
}

.shop_links a {
  color: black;
  text-decoration: none;
}

.webshop_link {
  margin-left: 50px;
  padding: 5px;
}

.push_right {
  margin-left: auto;
}

.webshop_link:hover {
  background-color: whitesmoke;
  border-radius: 5px;
}

.nav_links:hover {
  box-shadow: 0 0 4px;
  border-radius: 3px;
}
