* {
  margin: 0;
  padding: 0;
}

.navigation_bar {
  display: flex;
  background-color: gainsboro;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: black;
  justify-content: center;
}

.navigation_menu {
  display: flex;
  list-style: none;
  padding: 12px;
  margin-left: 15px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  font-size: 25px;
}

.navigation_menu li {
  padding-right: 20px;
}

.nav_links {
  color: red;
}
