* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.main_bar {
  position: sticky;
  top: 0;
}

.logo {
  display: flex;
  background-color: black;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 75px;
}

.logo img {
  padding-right: 75px;
}

.home_navigation_bar {
  display: flex;
  background-color: gainsboro;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main_bar {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: red;
  justify-content: center;
  box-shadow: 0 2px 3px -1px black;
}

.navigation_menu {
  display: flex;
  list-style: none;
  padding: 12px;
  margin-left: 15px;
  text-decoration: none;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
  font-size: 25px;
  font-family: "Karla", sans-serif;
}

.navigation_menu li {
  padding-right: 80px;
}

.nav_links {
  color: black;
  text-decoration: none;
}

.terry {
  display: flex;
  justify-content: center;
}

.page_main {
  display: flex;
}

.articles {
  display: flex;
  padding: 30px;
  flex-direction: column;
  width: 60%;
  margin-left: 45px;
}

h1 {
  border-bottom: 1px red solid;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  font-family: 'Oswald', sans-serif;
}


.news_posts {
  padding-bottom: 80px;
  margin-top: 20px;
  border-bottom: 1px black solid;
  cursor: pointer;
  transition: all 1.5s ease;
}

.news_posts:hover {
  transform: scale(1.05);
}

p {
  font-family: 'Grape Nuts', cursive;
  color: grey;
}

h2 {
  padding-bottom: 20px;
  font-family: 'Bebas Neue', cursive;
}

.article_2 {
  display: flex;
  padding: 30px;
  flex-direction: column;
  width: 500px;
}

.article_2 img {
  padding-left: 120px;
}

.news_posts:hover {
  background-color: lightgrey;
}

.shop_body {
  background-image: url('background_image.jpg');
  background-size: cover;
}

.shop_nav_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.shop_links {
  display: flex;
  list-style: none;
  padding: 15px;
  font-size: 25px;
  flex: 100%;
}

.shop_links li {
  padding-right: 0px;

}

.shop_bar {
  width: 100%;
}

.shop_links a {
  color: black;
  text-decoration: none;
}

.webshop_link {
  margin-left: 110px;
  padding: 5px;
  border-radius: 3px;
  background-color: red;
  font-family: 'Archivo Narrow', sans-serif;
}

.push_right {
  margin-left: auto;
}

.nav_links:hover {
  box-shadow: 0 0 4px;
  border-radius: 3px;
}

.shop_main {
  display: flex;
  justify-content: center;
}

.shop_categories {
  margin-top: 100px;
}

.shop_pics {
  padding-right: 50px;
  cursor: pointer;
}

.login_body {
  background-color: black;
}

.nav_links_login {
  color: black;
  text-decoration: none;
  padding-left: 1200px;
}


.login {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: white;
}

form {
  padding: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 4px black;
  background-color: red;
  border-radius: 5px;
  width: 600px;
}

#password {
  margin-top: 30px;
}

#remember {
  margin-top: 20px;
}

#submit {
  margin-top: 30px;
}